.activeTab {
    color: #16C0B0;
    text-decoration: underline;
  }

body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
  }

   .btn {
    border: none;
    background-color: #908989;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
  } 

  .cart {
    margin-right: 25px;
    float: right;
    border: 1px solid #d8d8d8;
  }

    .circular {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
  }

 
  .disabledButton {
    background-color: #d8d8d8;
  }
  

    img {
    border: 1px solid #d8d8d8;
    width: 170%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
  }

	input {
    width: 100%;  
    height: 25px;
    margin-bottom: 20px;
  }
  
  .items {
  	margin-top: 15px;
	color:white;
}

  .navbar {
    background: #000000;
    margin-bottom: 15px;
  }

  .navbar-brand{
  	width:20%;
  	border-image:none;

  }

  .nav-link{
  	color:grey;
  }

  .product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
  }

 
  .product-image {
    width: 80%;
  }
  
   
  .product-image,
  .product-info {
    margin-top: 10px;
    width: 50%;
  }
  
  .review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
  }
  
  

  .tab {
    margin-left: 20px;
    cursor: pointer;
  }

  textarea {
    width: 100%;
    height: 60px;
  }

  